@using MvcTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>SİL</th>

        @*<th>GÜNCELLE</th>*@

    </tr>
    @foreach (var u in Model)
    {
<tr>
    <td>@u.UrunID</td>
    <td>@u.UrunAd</td>
    <td>@u.Marka</td>
    <td>@u.Stok</td>
    <td>@u.AlisFiyat</td>
    <td>@u.SatisFiyat</td>
    <td>@u.Kategori.KategoriAd</td>
    <td>@u.UrunGorsel</td>
    <td>
        <a href="/Urun/UrunSil/@u.UrunID" class="btn btn-danger">Sil</a>
    </td>
    @*<td>
        <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a>
    </td>*@
</tr>
    }

</table>
<a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>

