
@model  MvcTicariOtomasyon.Models.Siniflar.Class4
@{
    ViewBag.Title = "Dinamik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="panel panel-default">

    <div class="panel-heading">

        <div class="row">

            <h2 class="panel-title pull-left" style="margin-left:10px;">

                <strong>Fatura & Kalem İşlemleri</strong>

            </h2>
            <br />
            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">Fatura Girişi</button>

        </div>

    </div>



    @*Receive All Database Data From Controller And Display Those Data In Client Side*@

    @*Fatura Listesi*@
    @foreach (var item in Model.deger1)

    {

        <div class="panel-body">

            <table class="table table-striped table-responsive">

                <tbody>

                    <tr>

                        <td>Seri--SIRA NO: @item.FaturaSeriNo-@item.FaturaSıraNo</td>
                        <td>Tarih: @item.Tarih</td>
                        <td>Cari: @item.TeslimEden</td>
                        <td>Personel: @item.TeslimAlan</td>
                        <td>Vergi Dairesi: @item.VergiDairesi</td>

                    </tr>

                    <tr>

                        <td colspan="5">

                            <table class="table table-bordered">

                                <tbody>

                                    <tr>

                                        <th>Açıklama</th>

                                        <th>Miktar</th>

                                        <th>Fiyat</th>
                                        <th>Tutar</th>

                                    </tr>

                                    @{

                                        var totalBill = 0;

                                    }

                                    @foreach (var order in item.FaturaKalems)

                                    {

                                        <tr>

                                            <td>@order.Aciklama</td>

                                            <td>@order.Miktar</td>

                                            <td>@order.BirimFiyat</td>
                                            <td>@order.Tutar</td>

                                        </tr>

                                        totalBill = totalBill + @Convert.ToInt32(order.Tutar);

                                    }

                                </tbody>

                            </table>

                            <span class="pull-right" style="margin-right:100px;"><strong>Fatura Toplam Tutar :  </strong> @totalBill</span>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>



    }



</div>



