@using MvcTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 style="margin-top:20px">FATURALAR</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>Fatura ID</th>
            <th>Seri No</th>
            <th>Sıra No</th>
            <th>Tarih</th>
            <th>Vergi Dairesi</th>
            <th>Saat</th>
            <th>Toplam</th>
            <th>Teslim Alan</th>
            <th>Teslim Eden</th>
            <th>Güncelle</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>

            <td>@m.Faturaid</td>
            <td>@m.FaturaSeriNo</td>
            <td>@m.FaturaSıraNo</td>
            <td>@m.Tarih</td>
            <td>@m.VergiDairesi</td>
            <td>@m.Saat</td>
            <td>100</td>
            <td>@m.TeslimAlan</td>
            <td>@m.TeslimEden</td>
            
            <td>
                <a href="/Fatura/FaturaGetir/@m.Faturaid" class="btn btn-warning"><i class="fa fa-undo"></i> Güncelle</a>
            </td>
            <td>  <a href="/Fatura/FaturaDetay/@m.Faturaid" class="btn btn-info"><i class="fa fa-info"></i> Detaylar</a>

</tr>

    }
</table>
<br />
<br />